body {
    background-color: crimson;
    font-family: 'League Script', Georgia, 'Times New Roman', Times, serif;
}

.game {
    margin: 20px 0px 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#title {
    color: goldenrod;
    font-weight: 900;
    font-size: 80px;
    /*text-shadow: 2px 2px 5px;*/
    padding: 40px 10px 5px;
    text-align: center;
}

.sketchpad {
    margin: 0px 15px 10px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 6px;
    display: flex;
    flex-flow: wrap;
}

.options-text {
    color: goldenrod;
    font-size: 40px;
    font-weight: 700;
}

.clear {
    width: 100px;
}

.footer {
    font-family: 'Times New Roman';
    text-align: center;
}

a {
    color: darkred;
    text-decoration: none;
}