body {
    background-color: crimson;
    font-family: 'League Script', Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 110px;
}

#title {
    color: goldenrod;
    font-weight: 900;
    font-size: 80px;
    /*text-shadow: 2px 2px 5px;*/
    padding: 10px;
}

.sketchpad {
    margin: 0px 15px 10px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 6px;
}

.options-text {
    color: goldenrod;
    font-size: 40px;
    font-weight: 700;
}

.clear {
    width: 100px;
}